body {
    background-color: #f1f1f1;
    color: #000000;

    font-size: 16px;
    font-weight: normal;
    font-family: "Noto Sans Georgian";
}

.container {
    max-width: 80%;
    margin: auto;
}

.up-menu {
    width: 100%;
    display: table;
}

.up-menu-button {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: inherit;
    background-color: #e5ffe7;
    cursor: pointer;
}

.up-menu div {
    display: inline-block;
    width: 20%;
}

.bottom {
    width: 100%;
}

.bottom div {
    display: inline-table;
}

.login-register-user {
    text-align: center;
    width: 19%;
}

.action-button {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: inherit;
    background-color: #f5f5f5;
    cursor: pointer;
}

.add-button {
    width: 10%;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: inherit;
    background-color: #f5f5f5;
    cursor: pointer;
}

.add-quote {
    width: 80%;
}